<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<h1>Add new book</h1>
<%= form_tag :action => "habib" do %>
<p><label for="book_title">Name</label>
  <%= text_field 'post', 'name' %></p>
  <p><label for="book_title">Email</label>
  <%= text_field 'post', 'email' %></p>
  <p><label for="book_title">Title</label>
  <%= text_field 'post', 'title' %></p>
  <p><label for="book_title">Position</label>
  <%= number_field 'post', 'position' %></p>
  <p><label for="book_description">Description</label><br/>
  <%= text_area 'post', 'content' %></p>
  <p><label for="book_options">Options</label><br/>
  
<%= select(:post, :id, [['Lisbon', 1], ['Madrid', 2], ['Berlin', 3]]) %>
<%= submit_tag "Create" %>
<% end -%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Position</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.email %></td>
        <td><%= post.title %></td>
        <td><%= post.position %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>